 



<div class="modal-body repModal">

    <img src="img/close.png" class=" repClose" ng-click="ok()" > 
    <div class="span12"> 


        <img ng-src="{{item.head}}">

    </div>
    <div ng-switch="repMPivot">
        <div ng-switch-default>
            <div class="span12"> 
                <video ng-show="{{item.video.length > 3}}" width="100%" controls autoplay>
                    <source ng-src="{{item.video}}" type="video/mp4"> 
                    Your browser does not support the video tag.
                </video>

            </div>
            <div class="span12"> 
                <img ng-src="{{item.detailImage}}">

            </div>

            <button class="repProductButtons pull-right repMButton "  ng-click="changeBuy()">BUY NOW</button>
            <button class="repProductButtons pull-right repMButton"  ng-click="changeShare()">SHARE NOW</button>
        </div>

        <div ng-switch-when="buyThis">            
            <img  src="img/buyMod.png">
        </div> 
        <div ng-switch-when="shareThis">
          
            <img src="img/shareMod.png">
        </div>  
    </div>


</div>
